[submodule "packages/tko-docs"]
	path = packages/tko-docs
	url = git@github.com:OZahnitko/tko-docs.git
[submodule "packages/tko-scripts"]
	path = packages/tko-scripts
	url = git@github.com:OZahnitko/tko-scripts.git
[submodule "packages/tko-exercise-tracker-client"]
	path = packages/tko-exercise-tracker-client
	url = git@github.com:OZahnitko/tko-exercise-tracker-client.git
[submodule "packages/tko-component-library"]
	path = packages/tko-component-library
	url = git@github.com:OZahnitko/tko-component-library.git
